<link rel="stylesheet" href="app/admin/admin.css">
<div ng-controller="ConfigurationVersionCtrl" ng-cloak>
  <div ng-include="'components/sidenav/sidenav.html'"></div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="30" layout="column">
      <md-card>

        <md-card-title class="red-card-title">
          <md-card-title-text>
            <span class="md-headline">Last Activity</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <md-list>
            <md-list-item ng-repeat="activity in activities" class="md-3-line">
              <img alt="{{ activity.user }}" ng-src="media/user/{{ activity.avatar }}" class="face" />
                <div class="md-list-item-text">
                  <h3>{{ activity.user }}</h3>
                  <p>Do {{ activity.action }} on {{ activity.modul }} Modul at {{ activity.timestamp }}</p>
                </div>
              <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-card-content>

      </md-card>
    </div>
    <div flex-xs flex-gt-xs="70" layout="column">
      <md-card>
        <md-card-title class="red-card-title">
          <md-card-title-text>
            <span class="md-headline">Version Control</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

          <form name="versionForm" ng-submit="update_version(form)">

            <md-input-container class="md-block md-input-has-value">
              <label>Software Version</label>
            </md-input-container>
            <hr>
            <md-input-container class="md-block md-input-has-value">
              <label>Name : {{ version.name }}</label>
            </md-input-container>
            <md-input-container class="md-block md-input-has-value">
              <label>Version : {{ version.version }}</label>
            </md-input-container>
            <md-input-container class="md-block md-input-has-value">
              <label>Build Number : {{ version.build.number }}</label>
            </md-input-container>
            <md-input-container class="md-block md-input-has-value">
              <label>Build Date : {{ version.build.date }}</label>
            </md-input-container>
            <hr>
            <md-input-container class="md-block md-input-has-value">
              <label>Local Server</label>
            </md-input-container>
            <hr>
            <md-input-container class="md-block md-input-has-value">
              <label>Patch Files</label>

              <ul ng-repeat="file in exe_file">
                    <li>
                      <a href="/public/upload/patch/{{ file }}" target="_blank">{{ file }}</a>&nbsp; 
                      <button type="button" ng-click="delete_file('exe',file)">x</button>
                    </li>
              </ul>

            </md-input-container>
            <md-input-container class="md-block" style="padding-left: 0px;">
              <lf-ng-md-file-input lf-files="exe_files" lf-option="optoin08" lf-placeholder="Pick .exe" lf-browse-label="Browse" lf-remove-label="Delete" ng-disabled="disabled06"></lf-ng-md-file-input>
            </md-input-container>
            <hr>
            <md-input-container class="md-block md-input-has-value">
              <label>mKiosk</label>
            </md-input-container>
            <hr>
            <md-input-container class="md-block md-input-has-value">
              <label>Apk Files</label>

              <ul ng-repeat="file in apk_file">
                   <li>
                     <a href="/public/upload/apk/{{ file }}" target="_blank">{{ file }}</a> &nbsp; 
                     <button type="button" ng-click="delete_file('apk',file)">x</button>
                   </li>
              </ul>

            </md-input-container>
             <md-input-container class="md-block" style="padding-left: 0px;">
            <lf-ng-md-file-input lf-files="apk_files" lf-option="optoin08" lf-placeholder="Pick .apk" lf-browse-label="Browse" lf-remove-label="Delete" ng-disabled="disabled06"></lf-ng-md-file-input>
            </md-input-container>
            <hr>
            <div layout="row" layout-align="end">
              <md-button class="md-raised md-warn" type="submit">Save</md-button>
            </div>
          </form>

        </md-card-content>
      </md-card>
    </div>

  </md-content>
</div>
<div ng-include="'components/footer/footer.html'"></div>
